@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.transparent{
  background-color: rgb(43, 43, 43);
}
.transition {
  transition: all 0.5s ease;
}

@layer components {
  .menu-item {
    @apply text-4xl p-1 border rounded-lg cursor-pointer
  }
  .menu-list {
    @apply py-2 hover:text-mainColor duration-300
  }
}